#header{
    background-color: #fff;
    border-bottom:1px solid #e0e0e0;
}

nav.nav-scroll {
    position: relative;
    z-index: 2;
    height: 2rem;
    box-sizing: border-box;
    overflow-y: hidden;
    padding: 1rem;
    border-top: 1px solid rgba(0,0,0,0.075);
    line-height: 1em;
}
nav.nav-scroll > ul {
    /*overflow-x: auto;*/
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 1rem;
}
nav.nav-scroll > ul > li > a {
    font-weight: 500;
}
.news-slide > li > .uk-card {
    box-shadow: none;
    border:  1px solid rgba(0,0,0,0.075);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
.uk-logo > img {
    height: 58px;
}
#header.uk-sticky-below {
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.07);
}

.uk-sticky{
    padding-top: 20px;
    padding-left: 70px;
    padding-bottom: 20px;
    background-color: #ffffff;
}
