/* Background Image Media Queries */
body.login {
	background-image: url('/img/bg/bg-pc-lg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media screen and (min-width: 640px){
	body.login {
		background-image: url('/img/bg/bg-pc-sm.jpg');
	}
}	
@media screen and (min-width: 960px){
	body.login {
		background-image: url('/img/bg/bg-pc-md.jpg');
	}
}	
@media screen and (min-width: 1200px){
	body.login {
		background-image: url('/img/bg/bg-pc-lg.jpg');
	}
}	
@media screen and (min-width: 1600px){
	body.login {
		background-image: url('/img/bg/bg-pc-lg.jpg');
	}
}

.formal-wrapper{
	background: #f8f9fa !important;
	border: 2px solid #e9ecef !important;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;

	box-shadow: 0px 0px 5px #ced4da;
	-webkit-box-shadow: 0px 0px 5px #ced4da;
	-moz-box-shadow: 0px 0px 5px #ced4da;
	-o-box-shadow: 0px 0px 5px #ced4da;
}

.formal-required{
	font-size:.9em;
	color:#f00 !important;
}

.formal-title{
	font-size: 1.5em;
	color: #495057 !important;
	margin: 5px !important;
}

.formal-label{
	color: #495057 !important;
}

.formal-input{
	border-color: #dee2e6 !important;
	color: #495057 !important;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}

.formal-input:hover{
	border-color: #ced4da !important;
}

.formal-input:focus{
	border-color: #adb5bd !important;
}

.formal-button{
	background-color: #e9ecef !important;
	border: 1px solid #ced4da !important;
	color: #212529;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}