<form ng-submit="post()">
    <fieldset class="uk-fieldset uk-text-small">
        <div class="uk-alert-{{alert.status}}" uk-alert ng-if="alert != null" style="border:1px solid #f00">
            <p>{{alert.message}}</p>
        </div>

        <!-- ____name field input____ -->
        <div class="uk-margin-small">
            <label>Nama</label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
                <input class="uk-input" required placeholder="Nama" type="text" ng-model="quiz.name">
            </div>
        </div>

        <!-- \____question textarea field____/ -->
        <div class="uk-margin-small">
            <label>Pertanyaan</label>
            <div class="uk-inline uk-width-1-1">
                <textarea class="uk-textarea" rows="3" required placeholder="Pertanyaan" ng-model="quiz.question" style="resize: none;"></textarea>
            </div>
        </div>
        <!-- /____question textarea field____\ -->

        <!-- \____type select field____/ -->
        <div class="uk-margin-small">
            <label>Tipe kuis</label>
            <div class="uk-inline uk-width-1-1">
                <select class="uk-select" required ng-model="quiz.type" ng-options="item.value as item.label for item in type_select">
                </select>
            </div>
        </div>
        <!-- /____type select field____\ -->
        <hr/>

        <div ng-if="quiz.type == 'multiple_choice'">
            <!-- \____total question number field____/ -->
            <div class="uk-margin-small">
                <label>Jumlah pilihan ganda</label>
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: comments"></span>
                    <input class="uk-input" required type="number" min="1" max="{{ type_multiple_choice.length }}" string-to-number ng-model="quiz.total_choice">
                </div>
            </div>    
            <!-- /____total question number field____\ -->

            <!-- \____total question number field____/ -->
            <div class="uk-margin-small">
                <label>Pilihan ganda</label>
                <div ng-repeat="i in [] | range:quiz.total_choice" uk-grid>
                    <div class="uk-width-1-6">
                        <input class="uk-input" required type="text" value="">
                        {{ type_multiple_choice[i] }} 
                    </div>
                    <div class="uk-width-5-6">
                        <input class="uk-input" required type="text" ng-model="quiz.choice[i]">
                    </div>    
                </div>
            </div>    
            <!-- /____total question number field____\ -->
        </div>

        <!-- ____submit button____ -->
        <div class="uk-margin-bottom">
            <button type="submit" class="uk-button uk-button-primary uk-width-1-1">SIMPAN</button>
        </div>
    </fieldset>
</form>