<table class="uk-table uk-table-divider" ng-init="init()">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in data track by $index">
            <td><span class="uk-text-muted">{{ item.id }}</span></td>
            <td><span class="uk-text-muted">{{ item.title }}</span></td>
            <td>
                <!-- logic if is_active and what span should appear -->
                <span class="uk-label uk-text-small" ng-if="item.is_active == 1">Aktif</span>
                <span class="uk-label uk-text-small uk-label-danger" ng-if="item.is_active == 0">Nonakftif</span>
            </td>
            <td>
                <div class="uk-button-group uk-text-small">
                    <button class="uk-button uk-button-default uk-button-small"><span data-uk-icon="icon: info"></span> Detail</button>

                    <div class="uk-inline">
                        <button class="uk-button uk-button-default" type="button"><span uk-icon="icon:  triangle-down"></span></button>

                        <div uk-dropdown="mode: click; boundary: ! .uk-button-group; boundary-align: true;">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li class="uk-nav-header">{{ item.title }}</li>
                                
                                <!-- logic if is_active and what button should appear -->
                                <li><a href="#" class="uk-margin-small uk-text-danger" ng-if="item.is_active == 1"><span data-uk-icon="icon: ban"></span> Deactivate</a></li>
                                <li><a href="#" class="uk-margin-small uk-text-success" ng-if="item.is_active == 0"><span data-uk-icon="icon: check"></span> Activate</a></li>

                                <li class="uk-nav-divider"></li>
                                <li><a href="#" class="uk-margin-small uk-text-danger"><span data-uk-icon="icon: trash"></span> Remove</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<!-- /____Table list data____\ -->
<hr/>
<!-- \____Pagination list data____/ -->
<ul class="uk-pagination" uk-margin>
    <li><a href="#"><span uk-pagination-previous></span></a></li>
    <li><a href="#">1</a></li>
    <li class="uk-disabled"><span>...</span></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
    <li class="uk-active"><span>7</span></li>
    <li><a href="#">8</a></li>
    <li><a href="#">9</a></li>
    <li><a href="#">10</a></li>
    <li class="uk-disabled"><span>...</span></li>
    <li><a href="#">20</a></li>
    <li><a href="#"><span uk-pagination-next></span></a></li>
</ul>