<!-- This is the modal -->
<div id="modal-create-quiz" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Create a new quiz</h2>
        <div ng-include="'/pages/quiz/create.html'"></div>
    </div>
</div>