<div class="uk-position-bottom-center uk-position-small uk-position-z-index">
    <span class="uk-text-small uk-text-muted">
        &copy; 2020 <a href="#">Your company</a> All Rights Reserved | Powered by <a href="#">Moonshader</a> 
    </span>
</div>
