<div class="uk-width-2xlarge uk-padding-small uk-position-z-index formal-wrapper" uk-scrollspy="cls: uk-animation-fade">
    <div class="uk-text-center uk-margin">
        <h3 class="uk-margin-small uk-padding-remove formal-title">Registration to App</h3>
        <hr/>
    </div>
    
    <!-- login -->
    <div ng-include="'/pages/authentication/parts/form-registration.html'"></div>
    <!-- /login -->

    <!-- recover password -->
    <!-- <div ng-include="'/pages/authentication/parts/form-recovery-password.html'"></div> -->
    <!-- /recover password -->
    
    <!-- action buttons -->
    <!-- action buttons -->
</div>
