<div class="uk-width-medium uk-padding-small uk-position-z-index" uk-scrollspy="cls: uk-animation-fade">
    <div class="uk-text-center uk-margin">
        <h3 class="uk-margin-small uk-padding-remove ox-title">Registration to App</h3>
        <hr/>
    </div>
    
    <!-- login -->
    <div ng-include="'/pages/authentication/parts/form-registration.html'"></div>
    <div ng-include="'/pages/authentication/parts/form-upload.html'"></div>
    <!-- /login -->
</div>
