<form ng-submit="post()">
    <fieldset class="uk-fieldset uk-text-small">
        <div class="uk-alert-{{alert.status}}" uk-alert ng-if="alert != null">
            <p>{{alert.message}}</p>
        </div>

        <!-- ____email field input____ -->
        <div class="uk-margin-small">
            <label>Email</label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: mail"></span>
                <input class="uk-input" required placeholder="Email" type="text" ng-model="login.email">
            </div>
        </div>

        <!-- ____password field input____ -->
        <div class="uk-margin-small">
            <label>Password</label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                <input class="uk-input" required placeholder="Password" type="password" ng-model="login.password">
            </div>
        </div>
        <hr/>

        <!-- ____submit button____ -->
        <div class="uk-margin-bottom">
            <button type="submit" class="uk-button uk-button-primary uk-width-1-1">MASUK</button>
        </div>
    </fieldset>
</form>