<div class="uk-alert-success uk-text-small" uk-alert>
    <p> Terima kasih! Anda sudah terdaftar! Silahkan pilih tombol masuk.</p>
</div>
<hr/>
<p class="uk-text-center uk-text-small">
    Apabila anda mengalamai kendala pendaftaran silahkan ke halaman <a href="#">Hubungi kami</a>.
</p>