<form ng-submit="post()">
    <fieldset class="uk-fieldset uk-text-small">
        <!-- <div class="uk-alert-primary" uk-alert>
            <p>Lorem ipsum dolor sit amet Lorem</p>
        </div> -->

        <div class="uk-alert-{{alert.status}}" uk-alert ng-if="alert != null" style="border:1px solid #f00">
            <p>{{alert.message}}</p>
        </div>

        <!-- ____fullname field input____ -->
        <div class="uk-margin-small">
            <label>Nama lengkap</label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
                <input class="uk-input" required placeholder="Nama lengkap" type="text" ng-model="register.name">
            </div>
        </div>

        <!-- ____email field input____ -->
        <div class="uk-margin-small">
            <label>Email</label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: mail"></span>
                <input class="uk-input" required placeholder="Email" type="email" ng-model="register.email">
            </div>
        </div>

        <!-- ____password field input____ -->
        <div class="uk-margin-small">
            <label>Password</label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                <input class="uk-input" required placeholder="Password" type="password" ng-model="register.password">
            </div>
        </div>

        <!-- ____password conrimation field input____ -->
        <div class="uk-margin-small">
            <label>Konfirmasi Password</label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                <input class="uk-input" required placeholder="Konfirmasi Password" type="password" ng-model="register.password_confirmation">
            </div>
        </div>
        <hr/>

        <!-- ____submit button____ -->
        <div class="uk-margin-bottom">
            <button type="submit" class="uk-button uk-button-primary uk-width-1-1">DAFTAR</button>
        </div>
    </fieldset>
</form>
