<ul uk-tab>
    <li class="uk-active"><a href="">Info</a></li>
    <li><a href="">Dokumen</a></li>
</ul>

<ul class="uk-switcher uk-margin">
    <li>
        <table class="uk-table uk-table-divider">
            <tbody>
                <tr>
                    <td>Nama</td>
                    <td>Kzulfazriawan</td>
                </tr>
        
                <tr>
                    <td>Email</td>
                    <td>kzulfazriawan@gmail.com</td>
                </tr>
        
                <tr>
                    <td>NIK</td>
                    <td>987xxxxxxxxxxxxxxxxxxxxx</td>
                </tr>
                <tr>
                    <td>Provinsi</td>
                    <td>Jakarta</td>
                </tr>
                <tr>
                    <td>Kota</td>
                    <td>Jakarta barat</td>
                </tr>
                <tr>
                    <td>Kecamatan</td>
                    <td>Cengkareng</td>
                </tr>
                <tr>
                    <td>Kelurahan</td>
                    <td>Cengkareng timur</td>
                </tr>
        
                <tr>
                    <td>Alamat</td>
                    <td>Jl. lorem ipsum dolor sit amet consecteur RT01/RW01 No.111</td>
                </tr>
                <tr>
                    <td>Kodepos</td>
                    <td>11730</td>
                </tr>
        
                <tr>
                    <td>Nomor HP</td>
                    <td>0812-1212-1212</td>
                </tr>
            </tbody>
        </table>        
    </li>
    <li>
        <table class="uk-table uk-table-divider">
            <tbody>
                <tr>
                    <td>KTP</td>
                    <td></td>
                </tr>
        
                <tr>
                    <td>KK</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Pas foto(4x6)</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Surat keterangan RT/RW</td>
                    <td></td>
                </tr>
            </tbody>
        </table>        
    </li>
</ul>