<table class="uk-table uk-table-divider">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="uk-text-muted">1</span></td>
            <td><span class="uk-text-muted">Kzulfazriawan</span></td>
            <td><span class="uk-text-primary">kzulfazriawan@gmail.com</span></td>
            <td><span class="uk-label uk-text-small">Terdaftar</span></td>
            <td>
                <div class="uk-button-group uk-text-small">
                    <button class="uk-button uk-button-default uk-button-small"><span data-uk-icon="icon: info"></span> Detail</button>
                    <div class="uk-inline">
                        <button class="uk-button uk-button-default" type="button"><span uk-icon="icon:  triangle-down"></span></button>
                        <div uk-dropdown="mode: click; boundary: ! .uk-button-group; boundary-align: true;">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li class="uk-nav-header">Kzulfazriawan</li>
                                <li><a href="#" class="uk-margin-small uk-text-danger"><span data-uk-icon="icon: ban"></span> Deactivate</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="#" class="uk-margin-small uk-text-danger"><span data-uk-icon="icon: trash"></span> Remove</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td><span class="uk-text-muted">2</span></td>
            <td><span class="uk-text-muted">Jamesboon</span></td>
            <td><span class="uk-text-primary">thejamesboon@gmail.com</span></td>
            <td><span class="uk-label uk-label-danger uk-text-small">Belum verifikasi</span></td>
            <td>
                <div class="uk-button-group uk-text-small">
                    <button class="uk-button uk-button-default uk-button-small"><span data-uk-icon="icon: info"></span> Detail</button>
                    <div class="uk-inline">
                        <button class="uk-button uk-button-default" type="button"><span uk-icon="icon:  triangle-down"></span></button>
                        <div uk-dropdown="mode: click; boundary: ! .uk-button-group; boundary-align: true;">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li class="uk-nav-header">Jamesboon</li>
                                <li><a href="#" class="uk-margin-small uk-text-success"><span data-uk-icon="icon: check"></span> Activate</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="#" class="uk-margin-small uk-text-danger"><span data-uk-icon="icon: trash"></span> Remove</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<!-- /____Table list data____\ -->
<hr/>
<!-- \____Pagination list data____/ -->
<ul class="uk-pagination" uk-margin>
    <li><a href="#"><span uk-pagination-previous></span></a></li>
    <li><a href="#">1</a></li>
    <li class="uk-disabled"><span>...</span></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
    <li class="uk-active"><span>7</span></li>
    <li><a href="#">8</a></li>
    <li><a href="#">9</a></li>
    <li><a href="#">10</a></li>
    <li class="uk-disabled"><span>...</span></li>
    <li><a href="#">20</a></li>
    <li><a href="#"><span uk-pagination-next></span></a></li>
</ul>