<form class="uk-text-small upload-form" action="login-dark.html" ng-controller="MSRegs" hidden>
    <fieldset class="uk-fieldset">
        <div class="uk-margin-small">
            <div class="uk-inline uk-width-1-1" uk-form-custom="target: true">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
                <input type="file">
                <input class="uk-input" type="text" placeholder="Upload your ID (KTP)" disabled>
            </div>
        </div>

        <div class="uk-margin-small">
            <div class="uk-inline uk-width-1-1" uk-form-custom="target: true">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: users"></span>
                <input type="file">
                <input class="uk-input" type="text" placeholder="Upload your Family Card (KK)" disabled>
            </div>
        </div>

        <div class="uk-margin-small">
            <div class="uk-inline uk-width-1-1" uk-form-custom="target: true">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: image"></span>
                <input type="file">
                <input class="uk-input" type="text" placeholder="Upload your Picture(4x6 cm)" disabled>
            </div>
        </div>


        <div class="uk-margin-small">
            <div class="uk-inline uk-width-1-1" uk-form-custom="target: true">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: file-text"></span>
                <input type="file">
                <input class="uk-input" type="text" placeholder="Upload Document RT/RW" disabled>
            </div>
        </div>

        <hr/>
        <div class="uk-margin-bottom">
            <button type="submit" class="uk-button uk-button-primary uk-width-1-1">Sign up</button>
        </div>
    </fieldset>
</form>
