<form class="toggle-class uk-text-small" action="login-dark.html">
    <fieldset class="uk-fieldset">
        <div class="uk-margin-small">
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
                <input class="uk-input" required placeholder="Username" type="text">
            </div>
        </div>
        <div class="uk-margin-small">
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                <input class="uk-input" required placeholder="Password" type="password">
            </div>
        </div>
        <div class="uk-margin-small">
            <label><input class="uk-checkbox" type="checkbox"> Keep me logged in</label>
        </div>
        <hr/>
        <div class="uk-margin-bottom">
            <button type="submit" class="uk-button uk-button-primary uk-width-1-1">Sign in</button>
        </div>
    </fieldset>
</form>
