<form class="toggle-class uk-text-small" action="login-dark.html" ng-controller="MSRegs">
    <fieldset class="uk-fieldset">
        <div class="uk-margin-small">
            <label class="uk-text-small formal-label">Nama lengkap <sup class="formal-required">*</sup></label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
                <input class="uk-input formal-input" name="name" required placeholder="Masukan nama lengkap" type="text">
            </div>
        </div>

        <div class="uk-margin-small">
            <label class="uk-text-small formal-label">Email <sup class="formal-required">*</sup></label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: mail"></span>
                <input class="uk-input formal-input" name="email" required placeholder="Masukan Email" type="email">
            </div>
        </div>

        <div class="uk-margin-small">
            <label class="uk-text-small formal-label">Password <sup class="formal-required">*</sup></label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                <input class="uk-input formal-input" name="password" required placeholder="Password" type="password">
            </div>
        </div>

        <div class="uk-margin-small">
            <label class="uk-text-small formal-label">Konfirmasi Password <sup class="formal-required">*</sup></label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                <input class="uk-input formal-input" name="password_confirmation" required placeholder="Konfirmasi password" type="password">
            </div>
        </div>

        <hr/>
        <div class="uk-margin-bottom">
            <button type="button" class="uk-button uk-width-1-1 formal-button">Sign up</button>
        </div>
    </fieldset>
</form>
