<form class="toggle-class uk-text-small" action="login-dark.html" hidden>
    <div class="uk-margin-small">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: mail"></span>
            <input class="uk-input" placeholder="E-mail" required type="text">
        </div>
    </div>
    <div class="uk-margin-bottom">
        <button type="submit" class="uk-button uk-button-primary uk-width-1-1">Reset password</button>
    </div>
</form>
