<form class="toggle-class uk-text-small" action="login-dark.html" ng-controller="MSRegs">
    <fieldset class="uk-fieldset">
        <div class="uk-margin-small">
            <div class="uk-alert-primary" uk-alert>
                <p>Mohon verifikasi akun anda dalam waktu kurang dari 2jam untuk melanjutkan pendaftaran.</p>
            </div>
        </div>
        <hr/>
        <div class="uk-margin-bottom">
            <button type="button" class="uk-button uk-width-1-1 formal-button">Verifikasi akun</button>
        </div>
    </fieldset>
</form>
