<form ng-submit="post()">
    <fieldset class="uk-fieldset uk-text-small">
        <div class="uk-alert-{{alert.status}}" uk-alert ng-if="alert != null" style="border:1px solid #f00">
            <p>{{alert.message}}</p>
        </div>

        <!-- ____name field input____ -->
        <div class="uk-margin-small">
            <label>Title <sup class="uk-text-danger">*</sup></label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
                <input class="uk-input" required placeholder="Title" type="text" disabled>
            </div>
        </div>

        <!-- ____email field input____ -->
        <div class="uk-margin-small">
            <label>Keyword <sup class="uk-text-danger">*</sup></label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: mail"></span>
                <input class="uk-input" required placeholder="Keyword" type="text" disabled>
            </div>
        </div>

        <hr/>
        <!-- ____submit button____ -->
        <div class="uk-margin-bottom">
            <button type="submit" class="uk-button uk-button-primary uk-width-1-1">SIMPAN</button>
        </div>
    </fieldset>
</form>