<form ng-submit="post()">
    <fieldset class="uk-fieldset uk-text-small">
        <div class="uk-alert-{{alert.status}}" uk-alert ng-if="alert != null" style="border:1px solid #f00">
            <p>{{alert.message}}</p>
        </div>

        <!-- ____ktp field input____ -->
        <div class="uk-margin-small">
            <label>Kartu Tanda Penduduk <sup class="uk-text-danger">*</sup></label>
            <div class="uk-margin">
                <div class="uk-margin" uk-margin>
                    <div uk-form-custom="target: true">
                        <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: upload"></span>
                        <input type="file">
                        <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" ng-model="profile.ktp">
                    </div>
                </div>
            </div>
        </div>

        <!-- ____kk field input____ -->
        <div class="uk-margin-small">
            <label>Kartu Keluarga <sup class="uk-text-danger">*</sup></label>
            <div class="uk-margin">
                <div class="uk-margin" uk-margin>
                    <div uk-form-custom="target: true">
                        <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: upload"></span>
                        <input type="file">
                        <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" ng-model="profile.kk">
                    </div>
                </div>
            </div>
        </div>

        <!-- ____pasphoto field input____ -->
        <div class="uk-margin-small">
            <label>Pas Photo <sup class="uk-text-danger">*</sup></label>
            <div class="uk-margin">
                <div class="uk-margin" uk-margin>
                    <div uk-form-custom="target: true">
                        <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: upload"></span>
                        <input type="file">
                        <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" ng-model="profile.pasphoto">
                    </div>
                </div>
            </div>
        </div>

        <!-- ____suratket field input____ -->
        <div class="uk-margin-small">
            <label>Surat Keterangan (RT/RW) <sup class="uk-text-danger">*</sup></label>
            <div class="uk-margin">
                <div class="uk-margin" uk-margin>
                    <div uk-form-custom="target: true">
                        <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: upload"></span>
                        <input type="file">
                        <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" ng-model="profile.suratket">
                    </div>
                </div>
            </div>
        </div>

        <!-- ____suratlistrik field input____ -->
        <div class="uk-margin-small">            
            <label>Surat Pembayaran Listrik</label><br>
            <label><input class="uk-checkbox uk-checkbox-default" type="checkbox" uk-toggle="target: #suratlistrik"></label>
            <div class="uk-margin" id="suratlistrik" hidden>
                <div class="uk-margin" uk-margin>
                    <div uk-form-custom="target: true">
                        <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: upload"></span>
                        <input type="file">
                        <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" ng-model="profile.suratlistrik">
                    </div>
                </div>
            </div>
        </div>

        <!-- ____suratair field input____ -->
        <div class="uk-margin-small">            
            <label>Surat Pembayaran Air</label><br>
            <label><input class="uk-checkbox uk-checkbox-default" type="checkbox" uk-toggle="target: #suratair"></label>
            <div class="uk-margin" id="suratair" hidden>
                <div class="uk-margin" uk-margin>
                    <div uk-form-custom="target: true">
                        <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: upload"></span>
                        <input type="file">
                        <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" ng-model="profile.suratair">
                    </div>
                </div>
            </div>
        </div>

        <!-- ____buktipbb field input____ -->
        <div class="uk-margin-small">            
            <label>Bukti PBB (Pajak Bumi Bangunan) </label><br>
            <label><input class="uk-checkbox uk-checkbox-default" type="checkbox" uk-toggle="target: #buktipbb"></label>
            <div class="uk-margin" id="buktipbb" hidden>
                <div class="uk-margin" uk-margin>
                    <div uk-form-custom="target: true">
                        <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: upload"></span>
                        <input type="file">
                        <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" ng-model="profile.buktipbb">
                    </div>
                </div>
            </div>
        </div>

        <!-- ____slipgaji field input____ -->
        <div class="uk-margin-small">            
            <label>Slip Gaji Orangtua</label><br>
            <label><input class="uk-checkbox uk-checkbox-default" type="checkbox" uk-toggle="target: #slipgaji"></label>
            <div class="uk-margin" id="slipgaji" hidden>
                <div class="uk-margin" uk-margin>
                    <div uk-form-custom="target: true">
                        <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: upload"></span>
                        <input type="file">
                        <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" ng-model="profile.slipgaji">
                    </div>
                </div>
            </div>
        </div>

        <!-- ____slippensiun field input____ -->
        <div class="uk-margin-small">            
            <label>Slip Pensiun Orangtua</label><br>
            <label><input class="uk-checkbox uk-checkbox-default" type="checkbox" uk-toggle="target: #slippensiun"></label>
            <div class="uk-margin" id="slippensiun" hidden>
                <div class="uk-margin" uk-margin>
                    <div uk-form-custom="target: true">
                        <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: upload"></span>
                        <input type="file">
                        <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" ng-model="profile.slippensiun">
                    </div>
                </div>
            </div>
        </div>


        <hr/>
        <!-- ____submit button____ -->
        <div class="uk-margin-bottom">
            <button type="submit" class="uk-button uk-button-primary uk-width-1-1">SIMPAN</button>
        </div>
    </fieldset>
</form>