<ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
    <li class="uk-nav-header">MENUS</li>
    <li><a href="#!/"><span data-uk-icon="icon: home" class="uk-margin-small-right"></span>Home</a></li>

    <li class="uk-parent">
        <a href="javascript:void(0)"><span data-uk-icon="icon: twitter" class="uk-margin-small-right"></span>Projects</a>
        <ul class="uk-nav-sub">
            <li><a href="#!/projects">Show Projects</a></li>
            <li><a href="#!/project/create">Create a new project</a></li>
        </ul>
    </li>
    
    <li><a href="#!/history"><span data-uk-icon="icon: history" class="uk-margin-small-right"></span>History</a></li>
</ul>
