<div class="uk-width-large uk-padding-small">
    <!-- login -->
    <h1 class="uk-heading-line uk-text-center"><span>Masuk</span></h1>
    <div ng-include="'/pages/login/form.html'"></div>
    <!-- /login -->
    <hr/>
    <div class="uk-text-center uk-text-small">
        <p>Belum punya akun ? <a href="#!/register/form">Daftar</a> | <a href="#">Beranda</a></p>
    </div>    
</div>