<div ng-include="'/pages/project/parts/modals.html'"></div>
<div class="uk-grid uk-grid-medium" data-uk-grid>
    <!-- \____List all projects____/ -->
    <div class="uk-width-1-1@l">
        <div class="uk-card uk-card-default uk-card-small uk-card-hover">
            <div class="uk-card-header">
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-expand"><h4>All projects</h4></div>
                </div>
            </div>
            <div class="uk-card-body uk-text-small">
                <!-- \____Grid menu____/ -->
                    <div ng-include="page"></div>
                <!-- /____Grid menu____\ -->
            </div>
        </div>
    </div>
    <!-- /____List all projects____\ -->
</div>
