<div class="uk-width-large uk-padding-small">
    <!-- login -->
    <h1 class="uk-heading-line uk-text-center"><span>Mendaftar</span></h1>
    <div ng-include="page_include"></div>
    <!-- /login -->

    <hr/>
    <div class="uk-text-center uk-text-small">
        <p>Sudah punya akun ? <a href="#!/login">Masuk</a> | <a href="#">Beranda</a></p>
    </div>    
</div>