<div class="uk-width-medium uk-padding-small">
    <h1 class="uk-heading-line uk-text-center" ng-init="init()"><span>Verifikasi</span></h1>

    <!-- \____alert verification number field____/ -->
    <div class="uk-alert-{{ alert.status }}" uk-alert ng-show='alert'>
        <p class="uk-text-small">{{ alert.message }}</p>
    </div>
    <!-- /____alert verification number field____\ -->

    <hr/>
    <div class="uk-text-center uk-text-small">
        <p>Sudah punya akun ? <a href="#!/login">Masuk</a> | <a href="#">Beranda</a></p>
    </div>    
</div>