<!-- \____Navigation menu____/ -->
<header id="header">
    <div class="uk-container">
        <nav id="navbar" data-uk-navbar="mode: click;">
            <div class="uk-navbar-left nav-overlay uk-visible@m">
                <ul class="uk-navbar-nav">
                    <li><a href="" uk-icon="icon: home"></a></li>
                    <li><a href="#" title="Panduan pendaftaran">Panduan</a></li>
                    <li><a href="#" title="Hubungi kami">Hubungi kami</a></li>
                </ul>
            </div>

            <div class="uk-navbar-right nav-overlay uk-visible@s">
                <ul class="uk-navbar-nav">
                    <li><a href="#" title="Panduan pendaftaran">Masuk</a></li>
                    <li><a href="#" title="Hubungi kami">Daftar</a></li>
                    <li>
                        <a class="uk-navbar-toggle uk-hidden@m" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- /____Navigation menu____\ -->
