<!-- \____Offcanvas menu____/ -->
<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <button class="uk-offcanvas-close uk-close" type="button" data-uk-close></button>
        <ul class="uk-nav uk-nav-default">
            <li class="uk-nav-header">Menu</li>
            <li>
                <a href="#"><span class="uk-margin-small-right" data-uk-icon="icon: home"></span> Home</a>
            </li>
            <li class="uk-nav-divider"></li>
            <li><a href="#"><span class="uk-margin-small-right" data-uk-icon="icon: info"></span> Panduan</a></li>
            <li><a href="#"><span class="uk-margin-small-right" data-uk-icon="icon: question"></span> Hubungi kami</a></li>
        </ul>
    </div>
</div>
<!-- /____Offcanvas menu____\ -->
