<div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <a href="#!/user">
                <h3 class="uk-card-title">User</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>    
            </a>
        </div>
    </div>

    <div>
        <div class="uk-card uk-card-primary uk-card-body">
            <a href="#!/quiz">
                <h3 class="uk-card-title">Bank soal</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </a>
        </div>
    </div>

    <div>
        <div class="uk-card uk-card-secondary uk-card-body">
            <a href="#!/">
                <h3 class="uk-card-title">Secondary</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </a>
        </div>
    </div>
</div>
