<aside id="left-col" class="uk-light uk-visible@m">
    <div class="left-logo uk-flex uk-flex-middle">
        <img class="custom-logo" src="img/dashboard-logo.svg" alt="">
    </div>
    <div class="left-content-box  content-box-dark" ng-include="'/pages/dashboard/parts/navigation/profile.html'">
    </div>
    <div class="left-nav-wrap">
        <!-- \____Navigation and simplify reports bar____/ -->
        <div ng-include="'/pages/dashboard/parts/navigation/menus.html'"></div>
        <div ng-include="'/pages/dashboard/parts/navigation/reports.html'"></div>
        <!-- /____Navigation and simplify reports bar____\ -->
    </div>
    <div class="bar-bottom">
        <!-- \____Bottom menus navigation____/ -->
        <ul class="uk-subnav uk-flex uk-flex-center uk-child-width-1-4" data-uk-grid>
            <li><a href="#" class="uk-icon-link" data-uk-icon="icon: home" title="Home" data-uk-tooltip></a></li>
            <li><a href="#" class="uk-icon-link" data-uk-icon="icon: settings" title="Settings" data-uk-tooltip></a></li>
            <li><a href="#" class="uk-icon-link" data-uk-icon="icon: social"  title="Social" data-uk-tooltip></a></li>
            <li><a href="#" class="uk-icon-link" data-uk-tooltip="Sign out" data-uk-icon="icon: sign-out"></a></li>
        </ul>
        <!-- /____Bottom menus navigation____\ -->
    </div>
</aside>