<div ng-include="'/pages/projects/parts/modals.html'"></div>
<div class="uk-grid uk-grid-medium" data-uk-grid>
    <!-- \____List all projects____/ -->
    <div class="uk-width-1-1@l">
        <div class="uk-card uk-card-default uk-card-small uk-card-hover">
            <div class="uk-card-header">
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-expand"><h4>All projects</h4></div>
                    <div class="uk-width-auto uk-text-right panel-icons">
                        <a href="#" class="uk-icon-link" title="Create a new project" data-uk-tooltip data-uk-icon="icon: plus-circle"></a>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <!-- \____Table list data____/ -->
                <table class="uk-table uk-table-divider">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Keyword</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="uk-text-muted">1</span></td>
                            <td><span class="uk-text-muted">Project A</span></td>
                            <td><span class="uk-text-primary">Covid20SPro</span></td>
                            <td><span class="uk-label uk-text-small">Active</span></td>
                            <td>
                                <div class="uk-button-group uk-text-small">
                                    <button class="uk-button uk-button-default uk-button-small"><span data-uk-icon="icon: info"></span> Detail</button>
                                    <div class="uk-inline">
                                        <button class="uk-button uk-button-default" type="button"><span uk-icon="icon:  triangle-down"></span></button>
                                        <div uk-dropdown="mode: click; boundary: ! .uk-button-group; boundary-align: true;">
                                            <ul class="uk-nav uk-dropdown-nav">
                                                <li class="uk-nav-header">Project A</li>
                                                <li><a href="#" class="uk-margin-small uk-text-danger"><span data-uk-icon="icon: ban"></span> Deactivate</a></li>
                                                <li class="uk-nav-divider"></li>
                                                <li><a href="#" class="uk-margin-small uk-text-danger"><span data-uk-icon="icon: trash"></span> Remove</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="uk-text-muted">2</span></td>
                            <td><span class="uk-text-muted">Project B</span></td>
                            <td><span class="uk-text-primary">Covid19SPro</span></td>
                            <td><span class="uk-label uk-label-danger uk-text-small">Inactive</span></td>
                            <td>
                                <div class="uk-button-group uk-text-small">
                                    <button class="uk-button uk-button-default uk-button-small"><span data-uk-icon="icon: info"></span> Detail</button>
                                    <div class="uk-inline">
                                        <button class="uk-button uk-button-default" type="button"><span uk-icon="icon:  triangle-down"></span></button>
                                        <div uk-dropdown="mode: click; boundary: ! .uk-button-group; boundary-align: true;">
                                            <ul class="uk-nav uk-dropdown-nav">
                                                <li class="uk-nav-header">Project B</li>
                                                <li><a href="#" class="uk-margin-small uk-text-success"><span data-uk-icon="icon: check"></span> Activate</a></li>
                                                <li class="uk-nav-divider"></li>
                                                <li><a href="#" class="uk-margin-small uk-text-danger"><span data-uk-icon="icon: trash"></span> Remove</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- /____Table list data____\ -->
                <hr/>
                <!-- \____Pagination list data____/ -->
                <ul class="uk-pagination" uk-margin>
                    <li><a href="#"><span uk-pagination-previous></span></a></li>
                    <li><a href="#">1</a></li>
                    <li class="uk-disabled"><span>...</span></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li class="uk-active"><span>7</span></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><a href="#">10</a></li>
                    <li class="uk-disabled"><span>...</span></li>
                    <li><a href="#">20</a></li>
                    <li><a href="#"><span uk-pagination-next></span></a></li>
                </ul>
                <!-- /____Pagination list data____\ -->
            </div>
        </div>
    </div>
    <!-- /____List all projects____\ -->
</div>
