<ul class="uk-tab-bottom" uk-tab>
    <li class="uk-active"><a href="#">Form</a></li>
    <li><a href="#">Upload via excel</a></li>
</ul>

<ul class="uk-switcher uk-margin">
    <li>
        <!-- \____form input by keyword____/ -->
        <form ng-submit="post()">
            <fieldset class="uk-fieldset uk-text-small">
                <div class="uk-alert-{{alert.status}}" uk-alert ng-if="alert != null" style="border:1px solid #f00">
                    <p>{{alert.message}}</p>
                </div>
        
                <!-- \____name field input____/ -->
                <div class="uk-margin-small">
                    <label>Title <sup class="uk-text-danger">*</sup></label>
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: pencil"></span>
                        <input class="uk-input" required type="text" ng-model="form.name">
                    </div>
                </div>
                <!-- /____name field input____\ -->
        
                <!-- \____keyword field input____/ -->
                <div class="uk-margin-small">
                    <label>Keyword <sup class="uk-text-danger">*</sup></label>
                    <div class="uk-inline uk-width-1-1">
                        <textarea class="uk-textarea" rows="3" style="resize:none;" ng-model="form.keyword"></textarea>
                    </div>
                </div>
                <!-- /____keyword field input____\ -->
        
                <hr/>
                <!-- ____submit button____ -->
                <div class="uk-margin-bottom">
                    <button type="submit" class="uk-button uk-button-primary uk-width-1-1">SIMPAN</button>
                </div>
            </fieldset>
        </form>
        <!-- /____form input by keyword____\ -->
    </li>
    <li>
        <form ng-submit="upload()">
            <fieldset class="uk-fieldset uk-text-small">
                <div class="uk-alert-{{alert.status}}" uk-alert ng-if="alert != null" style="border:1px solid #f00">
                    <p>{{alert.message}}</p>
                </div>

                <!-- \____download spreadsheet____/ -->
                <div class="uk-margin-small">
                    <label class="uk-text-muted">Download the xlsx template here</label>
                    <div class="uk-inline uk-width-1-1">
                        <button class="uk-button uk-button-default">Download template</button>
                    </div>
                </div>
                <!-- /____download spreadsheet____\ -->
                <hr/>

                <!-- \____upload field input____/ -->
                <div class="uk-margin-small">
                    <label>Upload <sup class="uk-text-danger">*</sup></label>
                    <div class="uk-inline uk-width-1-1" uk-form-custom="target: true">
                        <input type="file" ng-model="form.file">
                        <input class="uk-input" type="text" placeholder="Select file" disabled>
                    </div>
                </div>
                <!-- /____upload field input____\ -->
        
                <hr/>
                <!-- ____submit button____ -->
                <div class="uk-margin-bottom">
                    <button type="submit" class="uk-button uk-button-primary uk-width-1-1">SIMPAN</button>
                </div>
            </fieldset>
        </form>        
    </li>
</ul>