<table class="uk-table uk-table-divider" ng-init="detail(id)">
    <tbody>
        <tr>
            <td><span class="uk-text-muted">Title</span></td>
            <td>{{ item.title }}</td>
            <td><span class="uk-text-muted">Keyword</span></td>
            <td>{{ item.keyword }}</td>
        </tr>

        <tr>
            <td><span class="uk-text-muted">Status</span></td>
            <td>
                <!-- logic if is_active and what span should appear -->
                <span class="uk-label uk-text-small" ng-if="item.is_active == 1">Aktif</span>
                <span class="uk-label uk-text-small uk-label-danger" ng-if="item.is_active == 0">Nonakftif</span>
            </td>

            <td><span class="uk-text-muted">Action</span></td>
            <td>
                <!-- logic if is_active and what span should appear -->
                <a href="#" class="uk-margin-small uk-text-danger" ng-if="item.is_active == 1"><span data-uk-icon="icon: ban"></span> Deactivate</a>
                <a href="#" class="uk-margin-small uk-text-success" ng-if="item.is_active == 0"><span data-uk-icon="icon: check"></span> Activate</a>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <button class="uk-button uk-button-primary">
                    <span uk-icon="download"></span> Download txt</button>
            </td>
        </tr>
    </tbody>
</table>
<!-- /____Table list data____\ -->
<hr/>
<ul uk-tab>
    <li class="uk-active"><a href="#">Tweet</a></li>
    <li><a href="#">Quote</a></li>
    <li><a href="#">Reply</a></li>
    <li><a href="#">Retweet</a></li>
</ul>

<ul class="uk-switcher uk-margin">
    <li>
        <div>
            <h3>Tweet in here</h3>
            <hr/>    
        </div>
    </li>
    <li>
        <div>
            <h3>Quote in here</h3>
            <hr/>    
        </div>
    </li>
    <li>
        <div>
            <h3>Reply in here</h3>
            <hr/>    
        </div>
    </li>
    <li>
        <div>
            <h3>Retweet in here</h3>
            <hr/>    
        </div>
    </li>
</ul>