<div class="uk-grid uk-grid-divider uk-grid-medium uk-child-width-1-2 uk-child-width-1-4@l uk-child-width-1-5@xl" data-uk-grid>
    <div ng-repeat="item in items">
        <span class="uk-text-small"><span data-uk-icon="icon:users" class="uk-margin-small-right uk-text-primary"></span>New Users</span>
        <h1 class="uk-heading-primary uk-margin-remove  uk-text-primary">2.134</h1>
        <div class="uk-text-small">
            <span class="uk-text-success" data-uk-icon="icon: triangle-up" ng-if="item.ptg>0">{{ item.percentage }}</span> more than last week.
            <span class="uk-text-success" data-uk-icon="icon: triangle-down" ng-if="item.ptg<0">{{ item.percentage }}</span> more than last week.
        </div>
    </div>
    <div>
        
        <span class="uk-text-small"><span data-uk-icon="icon:social" class="uk-margin-small-right uk-text-primary"></span>Social Media</span>
        <h1 class="uk-heading-primary uk-margin-remove uk-text-primary">8.490</h1>
        <div class="uk-text-small">
            <span class="uk-text-warning" data-uk-icon="icon: triangle-down">-15%</span> less than last week.
        </div>
        
    </div>
    <div>
        
        <span class="uk-text-small"><span data-uk-icon="icon:clock" class="uk-margin-small-right uk-text-primary"></span>Traffic hours</span>
        <h1 class="uk-heading-primary uk-margin-remove uk-text-primary">12.00<small class="uk-text-small">PM</small></h1>
        <div class="uk-text-small">
            <span class="uk-text-success" data-uk-icon="icon: triangle-up"> 19%</span> more than last week.
        </div>
        
    </div>
    <div>
        
        <span class="uk-text-small"><span data-uk-icon="icon:search" class="uk-margin-small-right uk-text-primary"></span>Week Search</span>
        <h1 class="uk-heading-primary uk-margin-remove uk-text-primary">9.543</h1>
        <div class="uk-text-small">
            <span class="uk-text-danger" data-uk-icon="icon: triangle-down"> -23%</span> less than last week.
        </div>
        
    </div>
    <div class="uk-visible@xl">
        <span class="uk-text-small"><span data-uk-icon="icon:users" class="uk-margin-small-right uk-text-primary"></span>Lorem ipsum</span>
        <h1 class="uk-heading-primary uk-margin-remove uk-text-primary">5.284</h1>
        <div class="uk-text-small">
            <span class="uk-text-success" data-uk-icon="icon: triangle-up"> 7%</span> more than last week.
        </div>
    </div>
</div>